@model LeaveTypeUpdateRequest

@{
    ViewBag.Title = "Edit Leave Type";
    ViewBag.CurrentUrl = "~/LeaveType/Edit";
}

<div class="container w-75">

    <h4 class="pt-3">Edit Leave Type</h4>
    <hr />

    <form asp-controller="LeaveType" asp-action="Edit" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">

        <input type="hidden" asp-for="LeaveTypeID" />

        @*Leave Type Name*@
        <div class="mb-3">
            <label asp-for="LeaveTypeName" class="form-label">Leave Type</label>
            <input asp-for="LeaveTypeName" class="form-control">
            <span asp-validation-for="LeaveTypeName" class="form-text text-danger"></span>
        </div>

        @*Update button*@
        <button type="submit" class="btn btn-danger mt-2">Update</button>

        <div asp-validation-summary="All" class="form-text text-danger">
        </div>
    </form>
</div>


