<div class="container w-75">

    <h3 class="pt-3">Admin home</h3>
    <hr />

    <div class="vstack gap-2 mx-auto">
        <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="btn btn-danger">Home</a>
        <a asp-controller="User" asp-action="Index" asp-area="Admin" class="btn btn-danger">Employee Administration</a>
        <a asp-controller="Leave" asp-action="Index" asp-area="Admin" class="btn btn-danger">Leave Administration</a>
        <a asp-controller="Account" asp-action="Logout" asp-area="" class="btn btn-danger">Logout</a>
    </div>
</div>