<div class="container w-75">

    <h3 class="pt-3">Employee home</h3>
    <hr />

    <div class="vstack gap-2 mx-auto">
        <a asp-controller="Home" asp-action="Index" asp-area="" class="btn btn-danger">Home</a>
        <a asp-controller="Leave" asp-action="Add" asp-area="" class="btn btn-danger">Request new leave</a>
        <a asp-controller="Leave" asp-action="Index" asp-area="" class="btn btn-danger">All leave</a>
        <a asp-controller="Account" asp-action="MyProfile" asp-area="" class="btn btn-danger">My Profile</a>
        <a asp-controller="Account" asp-action="Logout" asp-area="" class="btn btn-danger">Logout</a>
    </div>
</div>