@model LoginDTO

@{
    ViewBag.Title = "Login";
    ViewBag.CurrentUrl = "~/Account/Login";
}

<div class="container w-75">

    <h3 class="pt-3">Login to Your Account</h3>
    <hr />

    <form asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">

        @*Email*@
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="form-text text-danger"></span>
        </div>

        @*Password*@
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
        </div>

        @*Login button*@
        <button type="submit" class="btn btn-danger mb-3">Login</button>

        <div asp-validation-summary="All" class="form-text text-danger">
        </div>
    </form>
</div>
