@model ApplicationUser

@{
    ViewBag.Title = "Profile";
    ViewBag.CurrentUrl = "~/Account/Profile";
}

<div class="container w-75">

    <h3 class="pt-3">My Profile</h3>
    <hr />

    <form asp-controller="Account" asp-action="Profile" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post" class="row g-3">

        @*Email*@
        <div class="col-md-12">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="form-text text-danger"></span>
        </div>

        @*Name*@
        <div class="col-md-12">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="form-text text-danger"></span>
        </div>

        @*Phone*@
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="form-text text-danger"></span>
        </div>

        @*Update button*@
        <div class="col-12">
            <button type="submit" class="btn btn-danger mb-3">Update</button>
        </div>

        <div asp-validation-summary="All" class="form-text text-danger"></div>
    </form>
</div>





