@model LeaveAddRequest

@{
    ViewBag.Title = "Request Leave";
    ViewBag.CurrentUrl = "~/Leave/Add";
}

<div class="container w-75">

    <h4 class="pt-3">Request new Leave</h4>
    <hr />

    <form asp-controller="Leave" asp-action="Add" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post" class="row g-3">

        <input type="hidden" asp-for="UserID" value="@ViewBag.User" />

        @*Leave Type*@
        <div class="col-md-12">
            <label asp-for="LeaveTypeID" class="form-label">Leave Type</label>
            <select asp-for="LeaveTypeID" asp-items="@ViewBag.LeaveTypes" class="form-select">
                <option value="">Please select</option>
            </select>
            <span asp-validation-for="LeaveTypeID" class="form-text text-danger"></span>
        </div>

        @*Start Date*@
        <div class="col-md-6">
            <label asp-for="StartDate" class="form-label">Start Date</label>
            <input asp-for="StartDate" class="form-control">
            <span asp-validation-for="StartDate" class="form-text text-danger"></span>
        </div>

        @*End Date*@
        <div class="col-md-6">
            <label asp-for="EndDate" class="form-label">End Date</label>
            <input asp-for="EndDate" class="form-control">
            <span asp-validation-for="EndDate" class="form-text text-danger"></span>
        </div>

        @*Reason*@
        <div class="col-md-12">
            <label asp-for="Reason" class="form-label">Reason</label>
            <input asp-for="Reason" class="form-control">
            <span asp-validation-for="Reason" class="form-text text-danger"></span>
        </div>

        @*Add button*@
        <div class="col-12">
            <button type="submit" class="btn btn-danger mb-3">Add</button>
        </div>

        <div asp-validation-summary="All" class="form-text text-danger">
        </div>
    </form>
</div>


